@import '../../styles/commonStyle.scss';

.inputField {
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 50%);
    border: 1px solid rgba(0, 0, 0, 0.16);
    height: 25px;
    padding: 5px 10px 5px 5px;
    font-size: 15px;
    width: 100%;
    border-radius: 3px;
    margin: 10px 0;
    width: auto;
  }
  
  .required {
    border: 1px solid red;
  }
  .req-msg{
    @include textFormat(0.7rem,red);
  }